
<footer>

  <div class="d-flex justify-content-between p-3">

    <div>
      <%= link_to "DevGil", root_path, :class => 'pl-3 link-footer'%>
    </div>

    <div>
      <%= link_to "Privacy policy", root_path, :class => 'pl-2 link-footer'%>
      <%= link_to "Terms and condition", root_path, :class => 'pl-2 pr-2 link-footer'%>
      <span> Copyrigth 2020. All rigths reserved.</span>
    </div>

    <div>
      Conect with us: fb tw inst
    </div>

  </div>

</footer>
