/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*= require font-awesome
*/

@import "bootstrap";

html, body {
  width: 100%;
  height: 100%;
}


//MAIN STYLE
.page-title {
  color: #4e443e;
  text-transform: uppercase;
  font-weight: bold;
}

.page-title-wihte {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.bg-brown {
  background-color: #4e443e;
}

// FORMS

.send-button {
  background-color: #4e443e;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.form-control {
  border-color: #4e443e;
}

.label-form {
  color: #4e443e;
  font-weight: bold;
  font-size: 18px;
}

a.label-form {
  font-size: 20px;
  text-decoration: none;
  color: #4e443e;
}
